/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My code*/
body { 
    min-height: 100%; 
}
#content{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}
.header{
    grid-row: 1/2;
	background-color: black;
	color: gray;
	display: grid;
	grid-template-columns: 140px auto;
	align-items: center;
	padding: 20px;
}
.name{
	font-size: x-large;
	grid-column: 1/2;
}
.header-content{
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.mid{
    grid-row: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mid_container{
	padding: 20px;
	background-color: gray;
	color: white;
	min-height:300px;
	min-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.mid_container>img{
	height: 200px;
}
.selected{
	border: 1px solid white;
	background-color: white;
	color: black;
}
.mid_container_menu{
	padding: 20px;
	background-color: gray;
	color: white;
	min-height:300px;
	min-width: 500px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 20px;
}
.card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	min-width: max-content;
	background-color: white;
	color: black;
}
.item-head{
	font-size: x-large;
}

.footer{
    grid-row: 3/4;
	display: flex;
	justify-content: center;
	align-items: center;
}